.vscode/
.tmp/
node_modules/
vendor/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
*.lcov
.nyc_output
typings/
*.tsbuildinfo
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.env
.env.test
.cache
.next
.nuxt
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
application/controller/static_pages/
application/controller/static_pages.go
sshwifty
